.app {
  text-align: center;
  background-color:rgb(250, 195, 195);
}
 
.app h1 {
  padding-top: 20px;
  color:rgb(86, 19, 19);
  font-style: normal;
  font-size: 36px;
  animation: glow 2s infinite ease-in-out;
  padding-bottom: 10px;
}

.app button {
  background-color: #7c3aed;
  color: white;
  border: none;
  padding:10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
 .app button:hover {
  background-color: #5b21b6;
}

@keyframes glow {
  0% {
    text-shadow: 
      0 0 5px #e2d4f9,
      0 0 10px #f4e4d5;
  }
  50% {
    text-shadow: 
      0 0 15px #f1fbd9,
      0 0 30px #674fb2;
  }
  100% {
    text-shadow: 
      0 0 5px #8051d1,
      0 0 10px #e0ecfd;
  }
}

