.blog-container {
  padding: 20px;
  display: flex;
  gap: 10px;
}

.blog-card {
  width: 400px;
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: rgb(250, 227, 227);
}
.blog-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
   background-color: rgb(250, 227, 227);
}

.blog-card img {
  width: 100%;
  height: auto;
  margin: 10px 0;
}

.blog-card button{
  background-color: #7c3aed;
  color: white;
  border: none;
  padding:8px 16px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin:10px 10px;
  transition: background-color 0.3s ease;
}

.desc {
  margin-bottom: 10px;
}

.actions button {
  margin-right: 10px;
}

.ai-actions {
  margin-top: 10px;
}

.ai-actions button {
  margin-right: 10px;
  margin-top: 5px;
}

.ai-text {
  margin-top: 8px;
  font-size: 14px;
  background: #f4f4f4;
  padding: 6px;
}
