.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 6px;
  width: 400px;
  background-color:rgb(231, 215, 247);
}

.modal h3 {
  margin-bottom: 10px;
  background-color:rgb(231, 215, 247);
}

.modal input {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px 5px;
  margin: 10px 0px;
  background-color: #fff;
  color: gray;
  font-weight: bold;
  font-style: italic;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  flex: 1;
  padding: 10px;
  border:none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
   background-color: #7c3aed;
}
